<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="catalogDescription"                         value="This is a test"/>
    <add key="courseAbstract"                             value="A short one liner about the course goes here."/>
    <add key="courseAssessment"                           value="Text describing the broad approach to assessment used in the learning opportunity"/>
    <add key="courseCareerOutcome"                        value="Description refinement typically used to specify career outcomes for a course of study"/>
    <add key="creditLevel"                                value="The point in a credit scheme or framework at which credits are awarded"/>
    <add key="creditScheme"                               value="The name of the credit scheme under which credits are awarded"/>
    <add key="creditValue"                                value="0"/>
    <add key="courseDescription"                          value="General summary of the course"/>
    <add key="courseIdentifier"                           value="An unambiguous reference to the course"/>
    <add key="courseIndicativeResource"                   value="Description refinement typically used to illustrate the kind of resources that would be used on a course of study, such as IT facilities and reading lists"/>
    <add key="courseLeadsTo"                              value="Description refinement typically used to describe opportunties likely to flow from a course of study, such as opportunities for further study (course articulations)"/>
    <add key="courseLearningOutcome"                      value="Text describing the learning outcomes for the course of study."/>
    <add key="courseObjective"                            value="Text describing aims or learning objectives of the learning oppotunity"/>
    <add key="coursePolicy"                               value="Description refinement typically used to specify policies relevant to a course of study, such as diversity of adjustments for disability"/>
    <add key="coursePrerequsite"                          value="Textual description of the entry requirements (academic and / or non-academic, formal or informal) for entry to a learning opportunity"/>
    <add key="courseStructure"                            value="Description refinement typically used to provide an overview of the module composition of a course of study"/>
    <add key="courseSubject"                              value="The topic of the course"/>
    <add key="courseSupport"                              value="Description refinement typically used to specify support facilities available to learners"/>
    <add key="courseTitle"                                value="Name of the course"/>
    <add key="courseTopic"                                value="Description refinement typically used to specify a syllabus of topics that would be covered in a course of study"/>
    <add key="courseType"                                 value="A grouping of similar courses in terms of target audience"/>
    <add key="courseUrl"                                  value="The URL of the course"/>
    <add key="providerURL"                                value="http://www.cornwall.ac.uk"/>
    <add key="providerDescription"                        value="Textual description of the coverage of the catalog, its provenance, status, licensing arrangements  and similar information to guide an aggregator"/>
    <add key="providerImage"                              value="3"/>
    <add key="providerIdentifier"                         value="4"/>
    <add key="providerLocationAddress"                    value="5"/>
    <add key="providerLocationEmail"                      value="6"/>
    <add key="providerLocationFax"                        value="7"/>
    <add key="providerLocationPhone"                      value="8"/>
    <add key="providerLocationPostcode"                   value="9"/>
    <add key="providerLocationTown"                       value="0"/>
    <add key="providerLocationURL"                        value="1"/>
    <add key="providerReferenceNumber"                    value ="10001696"/>
    <add key="providerTitle"                              value="Cornwall College"/>
    <add key="presentationAbstract"                       value="Short one line about presentation (140 chars max)"/>
    <add key="presentationAge"                            value="16-18"/>
    <add key="presentationApplicationProcedure"           value="Hardcoded depended on course type and brand"/>
    <add key="presentationApplyTo"                        value="https://www.cornwall.ac.uk"/>
    <add key="presentationApplyUntil"                     value="31 July 2020"/>
    <add key="presentationAssessment"                     value="New Field"/>
    <add key="presentationAttendanceMode"                 value="Campus"/>
    <add key="presentationAttendancePattern"              value="Daytime"/>
    <add key="presentationCost"                           value="A textual description of the cost associated with obtaining access to the presentation, including reference to bursaries or other special arrangements for specific groups of learners"/>
    <add key="presentationDuration"                       value="1"/>
    <add key="presentationEnd"                            value="31 July 2020"/>
    <add key="presentationEvents"                         value="Description refinement typically used to specify events relevant to a course of study, such as open days"/>
    <add key="presentationIdentifier"                     value="5"/>
    <add key="presentationPlaces"                         value="20"/>
    <add key="presentationProvidedResource"               value="7"/>
    <add key="presentationRequiredResource"               value="Description refinement typically used to clarify resources that the learner must provide in order to engage in a course of study"/>
    <add key="presentationStart"                          value="9"/>
    <add key="presentationStudyMode"                      value="Full time"/>
    <add key="presentationStudyHours"                     value="Description refinement typically used to specify hours of study expected of a learner for successful completion"/>
    <add key="presentationTitle"                          value="2"/>
    <add key="presentationUrl"                            value="https://www.cornwall.ac.uk"/>
    <add key="presentationVenueProviderDescription"       value="4"/>
    <add key="presentationVenueProviderIdentifier"        value="5"/>
    <add key="presentationVenueProviderLocationAddress"   value="6"/>
    <add key="presentationVenueProviderLocationPostcode"  value="7"/>
    <add key="presentationVenueProviderLocationPhone"     value="0845 2232567"/>
    <add key="presentationVenueProviderTitle"             value="8"/>
    <add key="presentationVenueProviderURL"               value="9"/>
    <add key="qualificationAbbr"                          value="Mandatory only if course leads to qualification."/>
    <add key="qualificationAccreditedBy"                  value="The common name of an organisation that accredits the qualification"/>
    <add key="qualificationAwardedBy"                     value="The common name of the awarding body"/>
    <add key="qualificationDescription"                   value="General summary of the nature of the qualification"/>
    <add key="qualificationDescriptionProfessionalStatus" value="Description of any professional standing of the qualification, including reference to specific professional bodies."/>
    <add key="qualificationEducationLevel"                value="Information about the progression"/>
    <add key="qualificationIdentifier"                    value="An unambiguous reference to the qualification"/>
    <add key="qualificationTitle"                         value="Full official name of the qualification using standard abbreviations if used in official documentation"/>
    <add key="qualificationUrl"                           value="https://www.cornwall.ac.uk"/>
  </appSettings>
</configuration>